<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Plantilla base {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<header>
      <nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/templates/base.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/animales.html">Animales Exoticos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/vehiculos.html">Vehículos Antiguos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/maravillas.html">Las Maravillas del Mundo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates/about.html">Acerca de...</a>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
</header>
<body style="background-color: lightskyblue;">

{% block contenido %}
<section> 
    <h1 class="text-center">¿Que es esta pagina?</h1>
    <p class="text-center" >En esta pagina aprenderemos cosas variadas pero llamativas, como animales exoticos que en el caso de esta pagina seran muy poco conocidos
      o vehiculos antiguos, muy conocidos, pero resumiendolo cortamente, es una pagina de informacion variada. 
    </p>
    <img src="{{ staticimg/huevo.jpg' }}" alt="Huevito">
    <img src="{% static 'img/perrito.jpg' %}" alt="perrito bonito" style="width: 10%;">
</section>
{% endblock %}

<footer>
  <h6>Elaborado por Luis</h6>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>