{% extends "base.html" %}

{% block title%} sobre de... {% endblock%}

{% block contenido %}
    <h1>Hola!</h1>
    <h2>Que me gusta?</h2>
    <p>Buenos dias, tardes o noches, a lo lago de mi paso por la preparatoria eh ido descubriendo cosas que me gustan
        cosas que no sabia que antes me gustaban, como:
        <ul>
            <li>las matematicas un poco</li>
            <li>el diseño grafico</li>
            <li>creacion de publicidad</li>
            <li>incluso la fotografia</li>
        </ul>    
    </p>
    <h2>Que quiero ser en mi futuro?</h2>
    <p>
        Como tal yo no eh definido mi futuro, aun no estoy seguro, si sepudiera llamar sueños quizas y si tenga.
        Como mencione con anterioridad, me gusta muucho la publicidad o diseño(no por codigo, ahi si me va mal jaja)
        pero una vez me gradue de la preparatoria si no tomo un descanso tomare un trabajo para ir adquiriendo experiencia
        luego de eso entrare a la universidad en alguna carrera de publicidad, pero en si quiero ser? solo quiero ser alguien normal
        con una casa bonita y un trabajo estable.
    </p>
    <h2>Me gustaria segun con la programacion?</h2>
    <p>
        Sinceramente no, la programacion no es algo sencillo, almenos yo la subestime mucho, requieres mucho de pensar
        y usar la logica, cosas que no se me dan muy bien, pero eso no quiere decir que no me gustaria aprender. 
    </p>
    <h2>Quien soy?</h2>
    <p>Romo Alvarado Luis Angel del grupo 5D</p>
    {% endblock %}