<!DOCTYPE html>
<html lang="es-mx">
{% extends "/templates/base.html" %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} Animales Exoticos {% endblock%}</title>
</head>

<body style="background-color: lightgreen;">
        <h1>Animales exoticos</h1>
    <h1>El Aye Aye es un lémur que está emparentado con los primates, chimpancés y simios. Su apariencia es tan peculiar que se le considera uno de los mamíferos más raros del mundo.
El pelaje de este animal, a diferencia de otros lémures, es abundante, es de color negro en la mayor parte del cuerpo y en la cabeza tiene un color que suele tornarse en gris oscuro.
Sus dientes, delgados y muy afilados, nunca dejan de crecer, por ello, estos animales en su hábitat natural deben roer constantemente para que así sus dientes puedan mantenerse de un tamaño que sea adecuado y no afecte su salud ni alimentación. Sí, algo muy similar a lo que hacen las ardillas.</h1>
<img src="/static/img/Aye-aye.jpg" alt="animal feo">
</body>
</html>