<!DOCTYPE html>
<html lang="es-mx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} Plantilla base {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body style="background-color: lightskyblue;">
 <header style="background-color: rgba(235, 235, 235, 1); color: white; padding: 25px;">
        <nav>
            <a href="{{ url_for('inicio') }}">Inicio</a> |
            <a href="{{ url_for('animales') }}">Animales exoticos</a> |
            <a href="{{ url_for('vehiculos') }}">Vehiculos antiguos</a> |
            <a href="{{ url_for('maravillas') }}">Maravillas del mundo</a> |
            <a href="{{ url_for('about') }}">Sobre de...</a> |
        </nav>
    </header>

    {% block contenido %}{% endblock %}


<footer>
<h6>Elaborado por Romo Alvarado Luis Angel</h6>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>