{% extends 'base.html' %}
{% block title %} Desarrollo de Plantilla Base {% endblock %}

{% block contenido %}
<section> 
    <h1 class="text-center">¿Que es esta pagina?</h1>
    <p class="text-center" >En esta pagina aprenderemos cosas variadas pero llamativas, como animales exoticos que en el caso de esta pagina seran muy poco conocidos
      o vehiculos antiguos, muy conocidos, pero resumiendolo cortamente, es una pagina de informacion variada ademas de que
      me ayudara a mi como desarrollador aprender mas sobre las plantillas.
      El objetivo de esta pagina sera enseñar a las personas cosas que quizas no conocian o quizas si eso depende de quien entre.
    </p>
    <div class="text-center">
    <img src="{{ url_for('static', filename='img/pavo.jpg') }}" alt="Pavo hermoso" style="width: 45%;" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <img src="{{ url_for('static', filename='img/carro.jpg') }}" alt="Caro bonito" style="width: 55%;" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    </div>
  </section>
{% endblock contenido %}
