{% extends "base.html" %}

{% block title%} Inicio de sesion {% endblock%}

{% block contenido %}

<form method="post" action="{{ url_for('iniciar_sesion') }}">

<div class="card mx-auto p-2 mb-3 shadow-lg bg-body-tertiary rounded text-center justify-content" style="width: 33%;">
  <div class="card-header ">
    <h3>Inicio de sesion</h3>
  <div class="text-center p-3 rounded-circle"> 
<img src="{{ url_for('static', filename='img/mono.jpg') }}" alt="Mono" style="width: 40%;" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
</div>
  <div class="card-body">
    <h6 class="text-start">Correo electronico</h6>
    <div class="col">
    <input type="text" class="form-control border border-black" placeholder="Correo electronico" aria-label="Correo_electronico" id="Correo_electronico" name="Correo_electronico" required>
  </div>
  <br>
  <h6 class="text-start">Contraseña</h6>
  <div class="col">
    <input type="password" class="form-control border border-black" placeholder="Contraseña" aria-label="Contraseña" id="Contrasena" name="Contrasena" required>
  </div>
</div>

{%if session.get("logueado") %}
<div>
<p>Bienvenido {{session.get("username")}}</p>
</div>
{% endif %}



<div class="card-footer">
<button class="btn btn-success" type="submit">Iniciar sesion</button>
</div>
<p>No tienes una cuenta? <a href="{{ url_for('form')}}">Clikea aqui</a></p>
</div>
</div>
</form>

{% endblock %}