{% extends "base.html" %}

{% block title%} Maravillas del mundo {% endblock%}

{% block contenido %}
<div class="text-center">
    <h1>Maravillas del mundo</h1>
    <p>Las maravillas del mundo son listas que catalogan obras arquitectónicas y escultóricas notables por su ingenio, escala y belleza, a menudo consideradas logros humanos extraordinarios. Existen principalmente dos listas: las Siete Maravillas del Mundo Antiguo, una guía de monumentos del mundo mediterráneo de la antigüedad que en su mayoría ya no existen, y las Nuevas Siete Maravillas del Mundo Moderno, una selección más reciente de edificaciones de diferentes continentes que todavía están en pie.</p>
</div>
    <h2>1. Gran Muralla China</h2>   
    <p>Fue construida alrededor del año 220 a.C. por el primer emperador Qin Shin Huang, quien ordenó reunir los tramos de fortificaciones construidas anteriormente, a fin de crear un sistema de defensa contra las invasiones de los pueblos del Norte, revela la Organización de las Naciones Unidas para la Educación, la Ciencia y la Cultura (Unesco, por sus siglas en inglés).</p>
    <div class="text-center">
    <video src="{{ url_for('static', filename='vid/muralla.mp4') }}" controls width="600"type="video/mp4"></video>
    </div>

    <h2>2. Chichen Itzá, México</h2>
    <p>Chichén Itzá es una ciudad maya de la península de Yucatán (México) que floreció en los siglos IX y X. De acuerdo con Unesco, esta ciudad sagrada fue uno de los centros más importantes de la civilización maya. </p>
    <div class="text-center">
    <video src="{{ url_for('static', filename='vid/itza.mp4') }}" controls width="600"type="video/mp4"></video>
    </div>

    <h2>3. Petra, Jordania</h2>   
    <p>Petra es uno de los sitios arqueológicos más célebres del mundo. Se encuentra en la actual Jordania en un valle remoto, entre montañas de arenisca y acantilados. En parte está esculpida en roca y en parte construida en medio de las montañas surcadas por pasos y desfiladeros.</p>
    <div class="text-center">
    <video src="{{ url_for('static', filename='vid/petra.mp4') }}" controls width="600"type="video/mp4"></video>
    </div>

    <h2>4. Machu Picchu, Perú</h2>
    <p>Otra de las maravillas del mundo moderno localizadas en Latinoamérica es Machu Picchu. Ubicado a 2430 metros de altura en medio de un bosque tropical de montaña, el santuario es considerado una de las realizaciones arquitectónicas más imponentes del Imperio Inca. Desde 1983 es parte del patrimonio mundial. </p>
    <div class="text-center">
    <video src="{{ url_for('static', filename='vid/machu.mp4') }}" controls width="600"type="video/mp4"></video>
    </div>
    
    <h2>5. Cristo Redentor, Brasil</h2>
    <p>El emblemático Cristo Redentor que se encuentra en la cima del monte Corcovado en Río de Janeiro (Brasil) es otro de los destinos destacados. La emblemática construcción comenzó en 1926 y finalizó cinco años más tarde. </p>
    <div class="text-center">
    <video src="{{ url_for('static', filename='vid/cristo.mp4') }}" controls width="600"type="video/mp4"></video>
    </div>

    <h2>6. Coliseo, Italia</h2>   
    <p>El Coliseo de Roma es considerada una proeza de ingeniería construida en el siglo I por orden del emperador Vespasiano, señala Britannica. El anfiteatro mide 189 por 156 metros y cuenta con un complejo sistema de bóvedas. En su apogeo, la estructura tenía capacidad para 50 000 espectadores que podían apreciar luchas de gladiadores y combates entre hombres y animales.</p>
    <div class="text-center">
    <video src="{{ url_for('static', filename='vid/coliseo.mp4') }}" controls width="600"type="video/mp4"></video>
    </div>

    <h2>7. Taj Mahal, India</h2>
    <p>La séptima maravilla del mundo moderno es el Taj Mahal, en la India. Se trata de un imponente mausoleo de mármol blanco edificado entre los años 1631 y 1648 por orden del emperador mogol Shah Jahan para perpetuar la memoria de su esposa favorita, explica la Unesco. </p>
    <div class="text-center">
    <video src="{{ url_for('static', filename='vid/taj_mahal.mp4') }}" controls width="600"type="video/mp4"></video>
    </div>

    {% endblock %}